#large-screen {
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--common-background-color);
}

#large-screen h1 {
  text-align: center;
  padding-top: 25vh;
}

#full-page {
  min-height: 100vh;
}

#header {
  /* min-height: 20vh; */
  padding: var(--universal-padding);
  color: var(--common-background-color);
  background-color: var(--primary-color);
}
