.form-error > .form-input,
.form-error > .form-label,
.form-error > .form-label-info {
  color: var(--form-error-color) !important;
}

.form-area .form-input {
  height: 3rem;
  border: 0;
  outline: none;
  color: inherit;
  min-width: 8rem;
  border-bottom: 2px solid var(--common-background-color);
  /* border-radius: var(--border-radius); */
  font-size: calc(1.5 * var(--standard-font-size));
  background-color: inherit;
}
/* 
.form-area .form-label {
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: var(--not-the-focus);
  user-select: none;
} */

.form-message-wrapper {
  font-size: calc(0.8 * var(--standard-font-size));
}

select {
  border-radius: var(--border-radius);
  padding: 0.7rem 1.4rem;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  outline: none;
  color: var(--common-background-color);
}

.remove {
  position: relative;
  right: 0;
  top: 0;
  transform: none;
}
