body,
#root {
  color: var(--common-text-color);
  background: var(--common-background-color);
  font-family: "Lato", sans-serif;
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: var(--standard-font-size);
}
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
:root {
  --primary-color: #4c2a86;
  --secondary-color: #06b3ba;
  --tertiary-color: #ffb819;
  --common-text-color: black;
  --common-background-color: white;
  --form-error-color: #ff0202;
  --standard-font-size: 16px;
  --border-radius: 15px;
  --universal-padding: 20px;
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
/* .row > * {
  flex: 1;
} */
.row.space-between {
  justify-content: space-between;
}

.text-right {
  text-align: right;
}
.align-right {
  float: right;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

button {
  border-radius: var(--border-radius) !important;
  padding: 0.9rem 2rem !important;
  color: var(--common-background-color);
}
